@page "/bank_statement"
@using Microsoft.EntityFrameworkCore
@using BisonBank.Models
@using BisonBank.Data
@inject IDbContextFactory<BisonBank.Data.BisonBankContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Generate Statement</PageTitle>

<h3>Bank Statement</h3>

<p>
    <a href="bank_statement/current_statement/checking_account">Generate Checking Statement</a>
</p>

<p>
    <a href="bank_statement/current_statement/savings_account">Generate Savings Statement</a>
</p>

@code {
    private BisonBankContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
