@page "/bank_statement"
@using Microsoft.EntityFrameworkCore
@using BisonBank.Models
@using BisonBank.Data
@inject IDbContextFactory<BisonBank.Data.BisonBankContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Generate Statement</PageTitle>

<header class="page-header">
    <h1>Bank Statements</h1>
</header>

<div class="button-container">
    <p>
        <button class="custom-button" onclick="window.location.href='bank_statement/current_statement/checking_account'">
            Generate Checking Statement
        </button>
    </p>

    <p>
        <button class="custom-button" onclick="window.location.href='bank_statement/current_statement/savings_account'">
            Generate Savings Statement    
        </button>
    </p>
</div>

@code {
    private BisonBankContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}

<style>
    /* Add space below the header */
    .page-header {
        margin-bottom: 50px; /* Adjust this value to control the spacing */
        text-align: center;
    }

    /* Button styling */
    .custom-button {
        display: inline-block;
        width: 250px;
        height: 50px;
        text-align: center;
        padding: 10px;
        font-size: 16px;
        color: black;
        cursor: pointer;
    }

    .custom-button:hover {
        background-color: #0056b3;
    }

    /* Center the buttons and add vertical spacing */
    .button-container {
        text-align: center; /* Center-align buttons horizontally */
        margin-top: 20px; /* Add space above the buttons container */
    }

    .button-container p {
        display: inline-block;
        margin: 0 10px; /* Add spacing between each button */
    }
</style>
