@page "/faq"

<PageTitle> FAQ </PageTitle>

<h3>Frequently Asked Questions</h3>
<h6>View answers by clicking the questions below.</h6>

<hr />

<details>
    <summary>How do I see my accounts from the home page?</summary>
    <div>
            Click the <em>Get Started</em> button or click the <em>Accounts</em> button on the navigation menu.
    </div>
</details>

<hr />

<details>
    <summary>How do I make a transfer?</summary>
    <div>
            On the transfers page, click <em>New Transfer</em>.
    </div>
    <div>
            Select <em>From</em> and <em>To</em> accounts.
    </div>
    <div>
            Then enter transfer amount and memo.
    </div>
    <div>
            Finally, click <em>Create</em> to initiate the transfer.
    </div>
</details>

<hr />

<details>
    <summary>How do I view bank statements?</summary>
    <div>
        Click the <em>Generate Checking</em> or <em>Savings statement</em>. You will be able to view details of your bank statements.
    </div>
</details>

<hr />

<details>
    <summary>My question is not listed here?</summary>
    <div>
        Feel free to contact us at any time. Contact information is located on the <em>Contact Us</em> page.
    </div>
    <div>
        You can reach us by phone, email, or visit us at our location.
    </div>
    <div>
        If you have technical issues, please contact our Tech Support.
    </div>
</details>

<hr />
@code {

}
